/* * {
  border: 1px solid red;
} */

:root {
    font-family: 'Roboto', sans-serif;
	--shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
	rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    --color: #166e67;
	--gap: 0.5rem;
	--radius: 5px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-areas:
        "header"
        "search-bar"
        "details"
        "main";
    height: 100vh;
    background-color: #fcfcfc;
    margin: 0;
	padding: 0;
}

header {
    grid-area: header;
    color: white;
    background-color: #333333;
    padding: 0.5rem 0;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    gap: 1rem;
}

.search-bar {
    grid-area: search-bar;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: var(--gap);
}

#search {
    width: 50%;
    font-size: 1.125rem;
    text-align: center;
    height: 1.875rem;
    border: none;
    border-radius: 1.563rem;
    padding: 0.313rem;
    margin: 0.438rem 0.938rem;
}
  
#search:focus {
    outline: none;
}

.search-btn,
#unit-btn {
    background-color: #e0e0e0;
    border: none;
    border-radius: 0.25rem;
}

.search-btn {
    width: 1.875rem;
    height: 1.875rem;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #d0d0d0;
}

#unit-btn {
    margin-left: auto;
    padding: 0.5rem 1rem;
    width: 5.46rem;
}

#unit-btn:hover {
    cursor: pointer;
}

#unit-btn:hover .fa-solid {
    color: black;
}

#unit-btn > .fa-solid {
    color: #8f8f8f;
    margin-left: 0.2rem;
}

.details {
    grid-area: details;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    font-size: 0.875rem;
    background-color: #f7f7f7;
    padding: 0.5rem 0;
    min-height: 2rem;
}

.wind-container,
.humidity-container,
.sunrise-container {
    display: flex;
    gap: 0.2rem;
}

.main {
    grid-area: main;
}

@media only screen and (min-width: 1400px) {
    #search {
        width: 35%;
    }
}